<div class="row">
  <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
    <mat-card>
      <mat-spinner *ngIf="isLoading"></mat-spinner>

      <form
        (submit)="onLogin(loginForm)"
        #loginForm="ngForm"
        *ngIf="!isLoading">

        <mat-form-field class="w-100">
          <input
            type="email"
            name="email"
            ngModel
            matInput
            placeholder="E-mail"
            #emailInput="ngModel"
            required
          >
          <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
        </mat-form-field>


        <mat-form-field class="w-100">
          <input
            type="password"
            name="password"
            matInput
            ngModel
            placeholder="Password"
            #passwordInput="ngModel"
            required
          >
          <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
        </mat-form-field>

        <button mat-raised-button color="accent" type="submit">Login</button>
      </form>
    </mat-card>
  </div>
</div>
